/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.logo {
  display: block;
  width: 5vw;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-right: 20px;
  margin-top: 0px;
}

nav ul li {
  margin-bottom: 20px;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

nav ul li:hover {
  border-top-color: solid var(--main-color);
  color: var(--main-color);
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.search-form {
  display: flex;
  margin: 40px 0px;
  border-radius: 15px;
  overflow: hidden;
}

.search-font {
  color: black;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.location-input {
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  border-left: none;
  border-right: none;
  padding: 15px 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.location-input::placeholder {
  color: black;
}

.search-button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 15px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
}

.loupe {
  display: none;
}

.filtres-principal {
  display: flex;
  font-weight: bold;
  gap: 30px;
  margin: 40px 0px;
}

.filtres-second {
  display: flex;
  gap: 30px;
}

.filtres-third {
  display: flex;
  align-items: center;
  border: solid 2px #d9d9d9;
  border-radius: 50px;
  padding: 0px 20px;
  gap: 10px;
}

.filtres-third:hover {
  background-color: #deebff;
}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 40px 0px;
}

.fa-info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #d9d9d9;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  line-height: 1;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.afficher-plus {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 30px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.hebergements-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 30px;
  gap: 30px;
}

.hebergements-cards a {
  width: calc(
    33% - 20px
  ); /*pour 3 cartes par ligne avec un gap de 30px (2 gaps * 30px / 3) */
  flex-grow: 1;
  box-sizing: border-box;
}

.card-subtitle {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.hebergements-cards .card-rating {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.activites-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 30px;
  gap: 30px;
}

.card-no-padd {
  width: 100%;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  padding: 0px 0px 15px 0px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-cards img {
  width: 100%;
  height: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.activites-card-title {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.activites-cards a {
  width: calc(
    25% - 30px
  ); /*pour 4 cartes par ligne avec un gap de 30px (3 gaps * 30px / 3) */
  flex-grow: 1;
  box-sizing: border-box;
}

/****** Footer ***********/
.footer-container {
  background-color: var(--main-bg-color);
  padding: 10px 20px 10px 20px;
  display: flex;
}

.footer-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  gap: 15px;
}

.footer-section {
  width: 50%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul li:hover {
    border-bottom: solid var(--main-color);
    border-top-color: transparent;
  }
  .loupe {
    display: inline;
    color: white;
  }

  .span-search {
    display: none;
  }
  .search-button {
    border-radius: 15px 15px 15px 15px;
  }
}
