/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.logo {
  display: block;
  width: 6vw;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-right: 20px;
  margin-top: 0px;
}

nav ul li {
  margin-bottom: 20px;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

nav ul li:hover {
  border-top-color: var(--main-color);
  color: var(--main-color);
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.search-form {
  display: flex;
  width: 25%;
  min-width: 380px;
  margin: 40px 0px;
  border-radius: 20px 30px 30px 20px;
  border: 1px solid var(--main-bg-color);
}

.search-font {
  color: black;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  padding: 15px 15px;
  border-radius: 15px 0 0 15px;
  border-right: 1px solid var(--main-bg-color);
}

.location-input {
  border: none;
  padding: 15px 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.location-input::placeholder {
  color: black;
}

.search-button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 15px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
}

.loupe {
  display: none;
}

.filtres-principal {
  display: flex;
  font-weight: bold;
  gap: 15px;
  margin: 40px 0px;
}

.filtres-all {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.filtres-second {
  display: flex;
  gap: 15px;
}

.filtres-third {
  display: flex;
  align-items: center;
  border: solid 3px #d9d9d9;
  border-radius: 50px;
  padding: 0px 20px;
  gap: 15px;
}

.filtres-third:hover {
  background-color: #deebff;
}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 40px 0px;
}

.fa-info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #d9d9d9;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  line-height: 1;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.afficher-plus {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 0;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards img {
  width: 100%;
  aspect-ratio: 335/124;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 30px;
  gap: 30px;
}

.hebergements-cards .card {
  height: 200px;
}

.hebergements-cards a {
  width: calc(
    33% - 20px
  ); /*pour 3 cartes par ligne avec un gap de 30px (2 gaps * 30px / 3) */
  flex-grow: 1;
  box-sizing: border-box;
}

.card-subtitle {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.hebergements-cards .card-rating {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.activites-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 30px;
  gap: 30px;
}

.card-no-padd {
  width: 100%;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  padding: 0px 0px 15px 0px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-cards img {
  width: 100%;
  height: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.activites-card-title {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.activites-cards a {
  width: calc(
    25% - 30px
  ); /*pour 4 cartes par ligne avec un gap de 30px (3 gaps * 30px / 3) */
  flex-grow: 1;
  box-sizing: border-box;
}

/****** Footer ***********/
.footer-container {
  background-color: var(--main-bg-color);
  padding: 5px 20px 10px 20px;
  display: flex;
  font-size: 1.1rem;
}

.footer-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  gap: 15px;
}

.footer-section {
  width: 50%;
}

.footer-title {
  margin-bottom: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .main-container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .filtres-principal {
    display: flex;
    flex-direction: column;
  }

  .filtres-all {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .hebergements-cards .card {
    height: 250px;
  }

  .populaires {
    width: 100%;
    margin-top: 10px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .card-no-padd {
    height: 250px;
  }

  .card-no-padd img {
    aspect-ratio: 315/141;
    height: 200px;
  }

  .footer-section li {
    font-size: 0.9rem;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }
  /* --- Header & Nav --- */
  header {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    width: 20vw;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  nav {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  nav ul {
    width: 100%;
    padding: 0;
    gap: 0;
    margin-bottom: 0;
  }
  nav ul li {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 1.1rem;
    border-bottom: 3px solid var(--main-bg-color);
  }
  nav ul li:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-top-color: transparent;
  }
  .first-part {
    padding: 0 20px;
    margin-top: 30px;
  }
  h1 {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  h1 span {
    display: block;
  }
  .first-part p {
    margin-top: 0;
    margin-bottom: 30px;
  }
  /* --- Formulaire de recherche --- */
  .search-form {
    min-width: 100px;
    width: 100%;
  }
  .location-input {
    width: 100%;
  }
  .search-button {
    border-radius: 35%;
    box-shadow: 0px 4px 4px #00000040;
  }
  .loupe {
    display: inline-block;
    font-size: 1.1rem;
    color: white;
  }
  .span-search {
    display: none;
  }
  /* --- Filtres --- */
  .filtres-principal > p {
    font-size: 1.1rem;
    margin: 0;
  }
  .filtres-all {
    display: flex;
    flex-direction: column;
  }
  .filtres-second {
    gap: 10px;
  }
  .filtres-third {
    padding: 10px 15px;
    gap: 10px;
    font-size: 0.9rem;
    border: 2px solid #d9d9d9;
    flex-grow: 1;
    max-width: calc(50% - 10px);
    box-sizing: border-box;
  }
  .filtres-third p {
    margin: 0;
  }
  .filtres-third i {
    font-size: 16px;
  }
  /* --- Bloc d'information --- */
  .info {
    margin: 30px 0;
    gap: 10px;
    align-items: center;
  }
  .fa-info {
    width: 24px;
    height: 24px;
    font-size: 12px;
    flex-shrink: 0;
  }
  .info p {
    font-size: 0.95rem;
    margin: 0;
  }
  /* --- Sections Hébergements et Populaires --- */
  .hebergements-and-populaires section {
    border-radius: 0;
    padding: 30px 20px;
    margin-bottom: 10px;
  }
  .hebergements-and-populaires .hebergements {
    order: 2;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px 20px;
    border-radius: 0;
  }
  .populaires {
    order: 1;
    margin-top: 0;
    background-color: var(--main-bg-color);
    width: 100%;
    padding: 30px 20px;
    border-radius: 0;
  }
  .populaires-title h2 {
    margin-bottom: 0;
  }
  .populaires-cards,
  .hebergements-cards {
    flex-direction: column;
    gap: 0px;
  }
  .hebergements-cards {
    gap: 10px;
  }
  .hebergements-cards .card {
    height: 300px;
  }
  .populaires-cards a {
    width: 100%;
  }
  .hebergements-cards a {
    width: 100%;
  }
  .populaires-cards .card {
    margin-top: 15px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .afficher-plus {
    margin-top: 15px;
  }
  .activites-cards a {
    width: 100%;
  }
  .activites-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  /*** Footer ***/
  .footer-container {
    flex-direction: column;
  }
  .footer-section {
    width: 100%;
  }
}
